In [46]:
import pandas as pd

In [47]:
PATH = "./data/"
FILENAME = "dataset4.csv"
df1 = pd.read_csv(PATH+"dataset1.csv")
df2 = pd.read_csv(PATH+"dataset2.csv")
df4 = pd.read_csv(PATH+"dataset4.csv")
for df in [df1, df2, df4]:
    for col in df.columns:
        print(col)

Country
Region
Population
Area (sq. mi.)
Pop. Density (per sq. mi.)
Coastline (coast/area ratio)
Net migration
Infant mortality (per 1000 births)
GDP ($ per capita)
Literacy (%)
Phones (per 1000)
Arable (%)
Crops (%)
Other (%)
Climate
Birthrate
Deathrate
Agriculture
Industry
Service
country
Region
Surface area (km2)
Population in thousands (2017)
Population density (per km2, 2017)
Sex ratio (m per 100 f, 2017)
GDP: Gross domestic product (million current US$)
GDP growth rate (annual %, const. 2005 prices)
GDP per capita (current US$)
Economy: Agriculture (% of GVA)
Economy: Industry (% of GVA)
Economy: Services and other activity (% of GVA)
Employment: Agriculture (% of employed)
Employment: Industry (% of employed)
Employment: Services (% of employed)
Unemployment (% of labour force)
Labour force participation (female/male pop. %)
Agricultural production index (2004-2006=100)
Food production index (2004-2006=100)
International trade: Exports (million US$)
International trade: Imports (million US$)
International trade: Balance (million US$)
Balance of payments, current account (million US$)
Population growth rate (average annual %)
Urban population (% of total population)
Urban population growth rate (average annual %)
Fertility rate, total (live births per woman)
Life expectancy at birth (females/males, years)
Population age distribution (0-14 / 60+ years, %)
International migrant stock (000/% of total pop.)
Refugees and others of concern to UNHCR (in thousands)
Infant mortality rate (per 1000 live births
Health: Total expenditure (% of GDP)
Health: Physicians (per 1000 pop.)
Education: Government expenditure (% of GDP)
Education: Primary gross enrol. ratio (f/m per 100 pop.)
Education: Secondary gross enrol. ratio (f/m per 100 pop.)
Education: Tertiary gross enrol. ratio (f/m per 100 pop.)
Seats held by women in national parliaments %
Mobile-cellular subscriptions (per 100 inhabitants)
Mobile-cellular subscriptions (per 100 inhabitants).1
Individuals using the Internet (per 100 inhabitants)
Threatened species (number)
Forested area (% of land area)
CO2 emission estimates (million tons/tons per capita)
Energy production, primary (Petajoules)
Energy supply per capita (Gigajoules)
Pop. using improved drinking water (urban/rural, %)
Pop. using improved sanitation facilities (urban/rural, %)
Net Official Development Assist. received (% of GNI)
Country
Density (P/Km2)
Abbreviation
Agricultural Land( %)
Land Area(Km2)
Armed Forces size
Birth Rate
Calling Code
Capital/Major City
Co2-Emissions
CPI
CPI Change (%)
Currency-Code
Fertility Rate
Forested Area (%)
Gasoline Price
GDP
Gross primary education enrollment (%)
Gross tertiary education enrollment (%)
Infant mortality
Largest city
Life expectancy
Maternal mortality ratio
Minimum wage
Official language
Out of pocket health expenditure
Physicians per thousand
Population
Population: Labor force participation (%)
Tax revenue (%)
Total tax rate
Unemployment rate
Urban_population
Latitude
Longitude

In [48]:
for col in df1.columns:
        print(col)

Country
Region
Population
Area (sq. mi.)
Pop. Density (per sq. mi.)
Coastline (coast/area ratio)
Net migration
Infant mortality (per 1000 births)
GDP ($ per capita)
Literacy (%)
Phones (per 1000)
Arable (%)
Crops (%)
Other (%)
Climate
Birthrate
Deathrate
Agriculture
Industry
Service

In [49]:
dfMerged4 = pd.DataFrame()
dfMerged2 = pd.DataFrame()

dfMerged4["Country"] = df4["Country"]
dfMerged4["Population"] = df4["Population"]
dfMerged4["Capital"] = df4["Capital/Major City"]
dfMerged4["Currency"] = df4["Currency-Code"]
dfMerged4["Urban_population"] = df4["Urban_population"]
dfMerged4["Density"] = df4["Density (P/Km2)"]
dfMerged4["Land Area"] = df4["Land Area(Km2)"]
dfMerged4["Armed Forces size"] = df4["Armed Forces size"]
dfMerged4["Birth Rate"] = df4["Birth Rate"]
dfMerged4["Co2-Emissions"] = df4["Co2-Emissions"]
dfMerged4["Minimum wage"] = df4["Minimum wage"]
dfMerged4["Abbreviation"] = df4["Abbreviation"]

dfMerged2["Country"] = df2["country"]
dfMerged2["Sex ratio (m/100 f)"] = df2["Sex ratio (m per 100 f, 2017)"]
dfMerged2["GDP"] = df2["GDP: Gross domestic product (million current US$)"]
dfMerged2["Population growth rate"] = df2["Population growth rate (average annual %)"]
dfMerged2["Fertility rate"] = df2["Fertility rate, total (live births per woman)"]
dfMerged2["Life expectancy "] = df2["Life expectancy at birth (females/males, years)"]

In [50]:
merged_df = pd.merge(dfMerged4, dfMerged2, left_on='Country', right_on='Country')

In [51]:
merged_df

,Country,Population,Capital,Currency,Urban_population,Density,Land Area,Armed Forces size,Birth Rate,Co2-Emissions,Minimum wage,Abbreviation,Sex ratio (m/100 f),GDP,Population growth rate,Fertility rate,Life expectancy
0,Afghanistan,"38,041,754",Kabul,AFN,"9,797,273",60,"652,230","323,000",32.49,"8,672",$0.43,AF,106.3,20270,3.2,5.3,63.5/61.0
1,Albania,"2,854,191",Tirana,ALL,"1,747,593",105,"28,748","9,000",11.78,"4,536",$1.12,AL,101.9,11541,-0.1,1.7,79.9/75.6
2,Algeria,"43,053,054",Algiers,DZD,"31,510,100",18,"2,381,741","317,000",24.28,"150,006",$0.95,DZ,102.0,164779,2.0,3.0,76.5/74.1
3,Andorra,"77,142",Andorra la Vella,EUR,"67,873",164,468,NaN,7.20,469,$6.63,AD,102.3,2812,-1.6,1.2,-99
4,Angola,"31,825,295",Luanda,AOA,"21,061,025",26,"1,246,700","117,000",40.73,"34,693",$0.71,AO,96.2,117955,3.5,6.0,63.0/57.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Uzbekistan,"33,580,650",Tashkent,UZS,"16,935,729",79,"447,400","68,000",23.30,"91,811",$0.24,UZ,99.4,69004,1.6,2.4,73.5/68.1
168,Vanuatu,"299,882",Port Vila,VUV,"76,152",25,"12,189",NaN,29.60,147,$1.56,VU,102.4,737,2.3,3.4,73.6/69.4
169,Yemen,"29,161,922",Sanaa,YER,"10,869,523",56,"527,968","40,000",30.45,"10,609",NaN,YE,102.1,29688,2.6,4.4,65.6/62.8
170,Zambia,"17,861,030",Lusaka,ZMW,"7,871,713",25,"752,618","16,000",36.19,"5,141",$0.24,ZM,98.5,21255,3.0,5.2,61.9/57.5
171,Zimbabwe,"14,645,468",Harare,NaN,"4,717,305",38,"390,757","51,000",30.68,"10,983",NaN,ZW,95.0,13893,2.3,4.0,59.0/56.1

In [ ]:
merged_df.to_csv("CountryData.csv")